<h1>Welcome to the VFAES GlobalGiving Scraper</h1>

<article class="message is-info">
    <div class="message-header">
        <p>Please set up your captcha app so you can solve the GlobalGiving login captcha.</p>
    </div>
    <div class="message-body">

    </div>
</article>
<h2 style="padding-top: 14px;">⚠ Please set up your captcha app so you can solve the GlobalGiving login captcha.</h2>
<div>ℹ The login key for the captcha app is called TWO_CAPTCHA_TOKEN, and it can be found <a target="_blank" href="https://glitch.com/edit/#!/fortunate-likeable-confidence?path=.env">here</a>.</div>
<h3>🔨 Desktop Captcha App Setup</h3>
<ol>
    <li>Download the desktop captcha app <a target="_blank" href="https://github.com/rucaptcha/bot-x/releases/download/v0.52/x-bot-en-v0.52.zip">here (Windows only)</a></li>
    <li>Extract the zip contents to your computer.</li>
    <li>Double click RuCaptchaBot.exe to start the app.</li>
    <li>On the screen titled <strong>Authorization</strong>, enter the key from <a target="_blank" href="https://glitch.com/edit/#!/fortunate-likeable-confidence?path=.env%3A6%3A52">TWO_CAPTCHA_TOKEN</a>.</li>
    <li>Click <strong>Start</strong> to start receiving GlobalGiving login captchas.</li>
</ol>